*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Centralização geral da página */
body{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Título */
h1{
    color: rgb(66, 41, 99);
    font-size: 32px;
    text-align: center;
}
label {
    color: #fff;
    font-size: 22px;
}

input[type="number"] {
    width: 200px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}


/* Container principal - MENU */
.container{
    position: relative; /* <<< ESSENCIAL */
    background-color: rgb(196, 198, 255);
    padding: 80px;
    border-radius: 12px;
    width: 700px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-geral {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    text-align: center;
   
}


.container-exercicios{
    position: relative; /* <<< ESSENCIAL */
    background-color: rgb(128, 132, 240);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    

}

/* Conteúdo acima da imagem */
.botoes{
    position: relative; /* <<< garante ficar acima */
    z-index: 1;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
    align-items: center;

 
}

/* Botões */
.botoes button{
    padding: 12px;
    font-size: 16px;
    Border-color: rgb(255, 255, 255);
    background-color: rgb(126, 77, 186);
    border-radius: 7px; 
    cursor: pointer;
    color:white;
    width: 200px;
  
}

/* Hover */
.botoes button:hover{
    opacity: 0.85;
}



/* FORM RESULTADO */
.container-resultado {
    background: #ffffff;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.container-resultado h3 {
    margin-bottom: 15px;
}
